<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aashu Yadav</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'img/favicon.jpg' %}" rel="icon">
  <link href="{%static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    {% for profile in profiles.all %}
    <div class="d-flex flex-column">

      <div class="profile">
        
        <img src="{{ profile.profilephoto.url}}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#">{{ profile.name }}</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="{{ profile.github}}" class="github"><i class="bx bxl-github"></i></a>
          <a href="{{ profile.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="{{ profile.insta}}" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="{{ profile.skype}}" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="{{ profile.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url({{profile.backgroundimage.url}})") top center;">
    <div class="hero-container" data-aos="fade-in">
    
    <h1>{{profile.hero}}</h1>
    <p>I'm <span class="typed" data-typed-items="{{profile.skill1}}, {{profile.skill2}},{{profile.skill3}},{{profile.skill4}},{{profile.skill5}}"></span></p>
    
    </div>
    {% endfor %}
  </section><!-- End Hero -->
  
  <main id="main">
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      {% for about in abouts.all %}
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>{{about.shortintro}}</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ about.aboutphoto.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{about.quality1}} &amp; {{about.quality2}}</h3>
            <p class="font-italic">
              {{about.aboutquality}}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> {{about.birthday}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong>{{about.phone}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> {{about.city}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong>{{about.age}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong>{{about.degree}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>{{about.email}}</li>
                  
                </ul>
              </div>
            </div>
            <p>
              {{about.intro}}
            </p>
          </div>
        </div>

      </div>
      {% endfor %}
    </section><!-- End About Section -->

    
   

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
         
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              {% for summary in summarys.all %}
              <h4>{{summary.resumename}}</h4>
              <p><em>{{summary.resumeintro}}</em></p>
              <ul>
                <li>{{summary.resumeaddress}}</li>
                <li>{{summary.resumephone}}</li>
                <li>{{summary.resumeemail}}</li>
              </ul>
              {% endfor %}
            </div>

            <h3 class="resume-title">Education</h3>
            {% for education in educations.all %}
            <div class="resume-item">
              <h4>{{education.degree}} &amp;{{education.field}}</h4>
              <h5>{{education.date}}</h5>
              <p><em>{{education.nameoforg}}</em></p>
              
            </div>
            {% endfor %}
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="resume-title">Professional Experience</h3>
            {% for experience in experiences.all %}
            <div class="resume-item">
              <h4>{{experience.workas}}</h4>
              <h5>{{experience.date}}</h5>
              <p><em>{{experience.nameoforg}}</em></p>
              <ul>
                <li>{{experience.expintro}}</li>
               
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>My Works</h2>
         
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for portfolio in portfolios.all %}
          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{portfolio.projectphoto.url}}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{portfolio.projectphoto.url}}" data-gall="portfolioGallery" class="venobox" title="{{portfolio.title}}"><i class="bx bx-plus"></i></a>
                <a href="{{portfolio.projectlink}}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
          

          
        </div>

      </div>
    </section><!-- End Portfolio Section -->
   
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Skills</h2>
            
          </div>
  
          <div class="row skills-content">       
            <div class="col-lg-12" data-aos="fade-up">
              {% for job in jobs.all %}
              <div class="progress ">
                <span class="skill">{{ job.skill }} <i class="val">{{ job.percent }}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ job.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              {% endfor %}
            </div>
            </div>
           
          </div>
  
        </div>
      </section><!-- End Skills Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            {% for contact in contacts.all %}

            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{contact.location}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{contact.email}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{contact.phone}}</p>
              </div>

              <iframe src="{{contact.maplink}}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
            {% endfor %}
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form
            action="https://formspree.io/mrgyozdq"
            method="POST"
          >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
     
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by APM</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{%static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{%static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{%static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{%static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{%static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{%static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'js/main.js' %}"></script>

</body>

</html>